# --- GÜVENLİK (EN ÖNEMLİSİ) ---
.env
.env.*
*.key
*.pem
secrets.json

# --- Python ---
_pycache_/
*.py[cod]
*$py.class
*.manifest
*.spec

# --- Sanal Ortam (Virtual Environment) ---
venv/
.venv/
env/
ENV/

# --- IDE Ayarları (Bunu kimse görmek istemez) ---
.vscode/
.idea/
*.swp
*.swo

# --- Veritabanı (Veriler GitHub'a atılmaz!) ---
*.db
*.sqlite3
mongo_data/
db_data/
dump/

# --- Test ve Coverage Raporları ---
.coverage
htmlcov/
.pytest_cache/
coverage.xml

